:root {
  --primary-color: #ec1f55;
  --white-color: #fff;
  --black-color: #000;
  --main-width: 405px;
  --cd-dim: 210px;
  --thumb-dim: 200px;
  --c-width: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #000;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}


.videoBg-container img {
  position: absolute;
  width: var(--main-width);
  height: 720px;
  top: 16px;
  opacity: 0.4;
  z-index: -2;
  clip-path: circle(28% at center);/*cắt ảnh*/
}



.playerControls-container {
  position: absolute;
  top: 202px;
  height: var(--main-width);
  width: 405px;
}

#videoBg {
  z-index: -1;
  opacity: 0.5;
  height: 720px;
  min-width: 405px;
  max-width: 405px;
  
}

.dashboard {
  padding: 16px 16px 8px;
  /* position: fixed; */
  top: 0;
  width: var(--main-width);
  /* height: 1280px; */
  /* border-bottom: 1px solid #ebebeb; */
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--white-color);
  font-size: 12px;
}

header h2 {
  color: var(--white-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  /* width: 200px; */
  flex-direction: row;
  width: var(--cd-dim);
  height: var(--cd-dim);
  
  border-radius: 50%;
  background-color: rgba(143, 136, 136, 0.137);
}

.cd .circle .mask,
.cd .circle .fill {
  width: var(--cd-dim);
  height: var(--cd-dim);
  border-radius: 50%;
  position: absolute;
}

.cd .circle .mask {
  /* Cắt ra 1 nửa hình tròn và cố định để làm vị trí bắt đầu và kết thúc */
  clip: rect(0px, var(--cd-dim), var(--cd-dim), calc(var(--cd-dim)/2));/* Dùng cho vui, chứ đã lỗi thời*/
  /* Có thể thay thế bằng overflow, border-radius hoặc pseudo-elements */
  /*take the half right*/

}

.cd .circle .mask .fill {
  clip: rect(0px, calc(var(--cd-dim)/2), var(--cd-dim), 0px);/* Dùng cho vui, chứ đã lỗi thời*/
  /* Có thể thay thế bằng overflow, border-radius hoặc pseudo-elements */
  /*take the half left*/
  background-color: var(--primary-color);
}

.cd .circle .mask.full,
.cd .circle .mask .fill {
  transform: rotate(0deg);
}


.cd-thumb {
  /* width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto; */

  position: absolute;
  width: var(--thumb-dim);
  height: var(--thumb-dim);
  margin-left: var(--c-width);
  margin-top: var(--c-width);
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  z-index: 1;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.control .btn {
  color: var(--white-color);
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
}

.btn-volume:hover .volume-bar {
  visibility: visible;
  opacity: 0.7;
}

.btn-volume {
position: absolute;
right: 276px;
bottom: 30px;
}

.icon-unmute,
.icon-mute {
position: absolute;
}

.volume-bar {
  position: absolute;
  transform: rotate(-90deg);
  margin: -65px -36px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  width: 80px;
  height: 20px;
  cursor: pointer;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-left,
.time-right {
  color: #a7a7a7;
  margin: 0 8px;
  font-size: 1rem;
}

.progress {
  width: 50%;
  appearance: none;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}


/* Cái này là của -webkit-appearance thằng  .progress để chỉnh cái thanh tua á*/
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: #121212;
  border: 1px solid #999;
}


/* PLAYLIST */
.playlist {
  /* margin-top: 408px; */
  padding: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: var(--main-width);
  height: 89vh;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #121212;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active { /* tạo hiệu ứng nhấn */
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: #999;
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.control-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: #121212;
  text-align: center;
}

.playlist-bars {
  display: none;
}




/* Scrool bar */
.playlist::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #999;
}

.playlist::-webkit-scrollbar
{
width: 10px;
background-color: #999;
}

.playlist::-webkit-scrollbar-thumb
{
background-color: #121212;
border: 1px solid #333;
}

.scrolling-text-container {
overflow: hidden;
/* Ẩn nội dung vượt quá kích thước của khung */
width: 405px;
/* Độ rộng của khung cuộn */
}

.scrolling-text {
white-space: nowrap;
/* Ngăn chữ xuống dòng */
animation: scrollText 10s linear infinite;
/* Sử dụng animation */
}

@keyframes scrollText {
0% {
    transform: translateX(100%);
    /* Bắt đầu từ phía bên phải */
}

100% {
    transform: translateX(-100%);
    /* Di chuyển sang bên trái */
}
}
